@model CreateMemberViewModel

<div class="container">
    <main role="main" class="pb-3">

        <header class="mb-4">
            <h3 class="text-primary-color">Add Member</h3>
        </header>
        <form method="post" asp-action="Create" asp-controller="Member">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Step navigation -->
            <ul class="nav nav-tabs mb-4" id="addMemberTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="member-tab" data-bs-toggle="tab" data-bs-target="#member-info"
                        type="button" role="tab">Member Info</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="health-tab" data-bs-toggle="tab" data-bs-target="#health-info"
                        type="button" role="tab">Health Data</button>
                </li>
            </ul>

            <!-- Tab content -->
            <div class="tab-content">
                <!-- Member Info -->
                <div class="tab-pane fade show active" id="member-info" role="tabpanel" aria-labelledby="member-tab">
                    <div class="section-header mb-3">
                        <h5 class="text-primary fw-bold">Personal Information</h5>
                        <hr class="mt-2">
                    </div>
                    <div class="row g-3">
                        <div class="col-12 col-md-6">
                            <label class="form-label" asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" asp-for="Phone"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" asp-for="DateOfBirth"></label>
                            <input asp-for="DateOfBirth" class="form-control"/>
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" asp-for="Gender"></label>
                            <select asp-for="Gender" class="form-select" asp-items="@Html.GetEnumSelectList<Gender>()">
                                <option value="">-- Select Gender --</option>
                                @* <option value="Male">Male</option>
                                <option value="Female">Female</option> *@
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="section-header mb-3 mt-4">
                        <h5 class="text-primary fw-bold">Address Information</h5>
                        <hr class="mt-2">
                    </div>
                    <div class="row g-3">

                        <div class="col-12 col-md-6">
                            <label class="form-label" asp-for="BuildingNumber"></label>
                            <input asp-for="BuildingNumber" class="form-control" />
                            <span asp-validation-for="BuildingNumber" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-md-6">
                            <label class="form-label" asp-for="Street"></label>
                            <input asp-for="Street" class="form-control" />
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" asp-for="City"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <!-- Health Data -->
                <div class="tab-pane fade" id="health-info" role="tabpanel" aria-labelledby="health-tab">
                    <div class="row g-3">
                        <div class="col-12 col-md-6">
                            <label class="form-label" asp-for="HealthRecord.Height"></label>
                            <input asp-for="HealthRecord.Height" class="form-control" />
                            <span asp-validation-for="HealthRecord.Height" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-md-6">
                            <label class="form-label" asp-for="HealthRecord.Width"></label>
                            <input asp-for="HealthRecord.Width" class="form-control" />
                            <span asp-validation-for="HealthRecord.Width" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-md-6">
                            <label class="form-label" asp-for="HealthRecord.BloodType"></label>
                            <select asp-for="HealthRecord.BloodType" class="form-select">
                                <option value="">Select</option>
                                <option>A+</option>
                                <option>A-</option>
                                <option>B+</option>
                                <option>B-</option>
                                <option>O+</option>
                                <option>O-</option>
                                <option>AB+</option>
                                <option>AB-</option>
                            </select>
                            <span asp-validation-for="HealthRecord.BloodType" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" asp-for="HealthRecord.Note"></label>
                            <input asp-for="HealthRecord.Note" class="form-control" />
                            <span asp-validation-for="HealthRecord.Note" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="d-flex justify-content-end gap-3 mt-4">
                <a asp-controller="Member" asp-action="Index" class="btn btn-outline-secondary px-4">
                    <i class="bi bi-arrow-left me-2"></i> Back to List
                </a>

                <button type="submit" class="btn btn-primary px-4">
                    <i class="bi bi-plus-circle me-2"></i> Add
                </button>
            </footer>

        </form>

    </main>
</div>
@section Scripts {
    @* <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script> *@
<script>
    // Preview photo before upload
    document.getElementById('photoInput').addEventListener('change', function (e) {
        var file = e.target.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var preview = document.getElementById('photoPreview');
                preview.src = e.target.result;
                preview.style.display = 'block';
            }
            reader.readAsDataURL(file);
        }
    });
    
</script>
}
@section ValidationScripts{
    <partial name="_ValidationScriptsPartial"></partial>
}